<<<<<<< HEAD
extends layout

block content

  .container

    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Coder Forge - Aajax Autocomplete

        div#navbar
          ul.nav.navbar-nav.navbar-right
            li#containerSearch
              input(type="text", name="search", id="searchBox", placeholder="Search for county...")
=======
h1 Coder Forge - Ajax Autocomplete
p ... well, nearly ;)
>>>>>>> dc3d11b7bfa4f21d24daa6b20e938feeb1a9f3a4
